<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="app/stylesheets/application.css" rel="stylesheet">
    <title>SWEXEL3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%=render 'header', p:"hello" %>
    
    <%= yield %>
    
  </body>
</html>
